:root { /* criando variáveis */
    --main-color: #0A1128;
    --gap: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    font-size: 2rem;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
    margin-bottom: 4rem;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    min-width: 36rem;
}

table td, th {
    padding: 0.7rem;
    border: 0.1rem solid #fff;
}

thead {
    background-color: rgba(256, 256, 256, 0.4);
    color: var(--main-color);
}

table caption {
    font-style: italic;
    font-size: 1.4rem;
    caption-side: bottom;
    text-align: right;
    margin-top: 1rem;
}

/* ---------------------------------------------------------------------------------------------------------- */

/* essa img é svg e veio do site 'svg background' */
.main-background {
    background-image: url('../img/main-background.svg');
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.white-background {
    background-color: #fff;
    color: var(--main-color);
}

/* container para sustentar o conteúdo */
.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

/* seção da página (inicio, galeria, forms, etc) */
.section {
    min-height: 100vh;
}

.justificar {
    text-align: justify;
}

/* ---------------------------------------------------------------------------------------------------------- */

.menu-spacing { /* apenas para fazer o espaçamento que o 'fixed' do menu esconde */
    height: 6rem;
}

.menu {
    position: fixed; /* para rolar junto com a página */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid lightgray; /* enfeite, fica show */
    z-index: 2;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--main-color);
}

.menu h1 a {
    color: inherit;
}

.menu a:hover {
    background-color: rgb(240, 238, 238);
}

.menu-content { /* para trabalhar com flexbox, separar a logo da navegação */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0; /* tira o padding para os elementos da nav espaçarem com o padding deles */
    padding-bottom: 0;
}

.menu ul {
    list-style: none;
    display: flex; /* assim pode ajustar os li mais facilmente */
}

.menu ul li a {
    display: block; /* assim, já quebra a linha e junta tudo, depois só espaçar */
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--main-color);
}

.close-menu {
    display: none;
}

/* ---------------------------------------------------------------------------------------------------------- */

.intro-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

/* ---------------------------------------------------------------------------------------------------------- */

.titulos-content {
    max-width: 64rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.titulos-content p {
    margin-bottom: 2rem;
}

.titulos-content h2 {
    margin-bottom: 3rem;
    line-height: 1;
}

/* ---------------------------------------------------------------------------------------------------------- */

.grid-um-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid-um-content p {
    margin-bottom: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid-um-content h2 {
    margin-bottom: 2rem;
}

.grid-descr {
    padding-bottom: 5rem;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}

/* ---------------------------------------------------------------------------------------------------------- */

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

/* ---------------------------------------------------------------------------------------------------------- */

.responsive-table {
    overflow: hidden; /* kkkkkkkkkkk passei perrengue aqui */
    overflow-x: auto;
}

/* ---------------------------------------------------------------------------------------------------------- */

.contact-form fieldset {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.form-group {
    flex: 1 1 40rem;
}

.form-group label {
    display: block;
}

.form-group input, .form-group textarea {
    border: none;
    background-color: lightgray;
    padding: 1rem 1.5rem;
    width: 100%;
    font-size: 1.6rem;
}

.form-group button {
    border: 0.5rem solid var(--main-color);
    background: none;
    color: var(--main-color);
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 2rem;
}

.form-group button:hover {
    background-color: var(--main-color);
    color: #fff;
}

legend {
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

/* ---------------------------------------------------------------------------------------------------------- */

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #fff;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    transform: rotate(-90deg);
    border-radius: 50%;
    color: var(--main-color);
}

/* ---------------------------------------------------------------------------------------------------------- */

@media (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }

    .gallery-img img {
        width: 100%;
    }

    .grid-um-content {
        display: block;
    }

    .menu {
        bottom: 0;
        text-align: center;
        display: none;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .close-menu {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
    }

    .close-menu-label::after {
        content: '≣';
        position: fixed;
        z-index: 3;
        top: 2rem;
        right: 2rem;
        background-color: var(--main-color);
        color: #fff;
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .menu-spacing {
        display: none;
    }
}

/* ---------------------------------------------------------------------------------------------------------- */